<p id="notice"><%= notice %></p>

<p>
  <strong>Tve texto:</strong>
  <%= @texto_vinetum.tve_texto %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @texto_vinetum.texto %>
</p>

<%= link_to 'Edit', edit_texto_vinetum_path(@texto_vinetum) %> |
<%= link_to 'Back', texto_vineta_path %>
