<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for(@contact, remote: true) do |f| %>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

<!--
-->
        <% if @contact.con_boton_sitio.include? "Blog" %>
          <h3>¿Quieres mejorar tu Negocio?</h3>

        <% elsif @contact.con_boton_sitio.include? "txaShop" %>
          <h3>¿Quieres aumentar tus Ventas?</h3>
          <% elsif @contact.con_boton_sitio.include? "txaVentas" %>
            <h3>¿Quieres aumentar tus Ventas?</h3>
            <% elsif @contact.con_boton_sitio.include? "txaVision" %>
              <h3>¿Quieres aumentar tus Ventas?</h3>

        <% elsif @contact.con_boton_sitio.include? "txaCostos" %>
          <h3>¿Quieres reducir los Costos?</h3>

        <% elsif @contact.con_boton_sitio.include? "menu" %>
          <h3>¿Quieres comunicarte con nosotros?</h3>

        <% end %>

      </div>

      <div id="div-modal-body" class="modal-body">

        <ul class="errors"></ul>

        <h4 class="modal-header-h4">¡Anótate Gratis y te enviaremos<br/>Información útil para tu Pyme!</h4>
        <% @clave = Time.now.year.to_s + Time.now.month.to_s + rand(10000..99999).to_s %>
        <div class="row">
          <div class="field col-xs-12 col-sm-12 col-md-12">
            <%= f.text_field :con_nya, required: true, :placeholder => "Ingrese su Nombre...", :class=>"form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.email_field :con_mail, :required => true, :placeholder => "Ingrese su email...", :class=>"form-control" %>
        </div>
        <div class="field hide">
          <%= f.text_field :password, :required => true,  :value => @clave, :placeholder => "Ingrese una Clave...", :class=>"form-control" %>
        </div>
        <div class="field hide">
          <%= f.text_field :password_confirmation, :required => true,  :value => @clave, :placeholder => "Ingrese una Clave...", :class=>"form-control" %>
        </div>
        <div class="field hide">
          <%= f.text_area :con_boton_sitio, :class=>"form-control" %>
        </div>
      </div>

      <% if @contact.con_boton_sitio.include? "txaShop" %>
        <h4 class="modal-header-h4">Nos contactaremos contingo<br/>Hoy mismo</h4>
        <% elsif @contact.con_boton_sitio.include? "txaVentas" %>
          <h4 class="modal-header-h4">Nos contactaremos contingo<br/>Hoy mismo</h4>
          <% elsif @contact.con_boton_sitio.include? "txaVision" %>
            <h4 class="modal-header-h4">Nos contactaremos contingo<br/>Hoy mismo</h4>
            <% elsif @contact.con_boton_sitio.include? "txaCostos" %>
              <h4 class="modal-header-h4">Nos contactaremos contingo<br/>Hoy mismo</h4>
              <% elsif @contact.con_boton_sitio.include? "menu" %>
                <h4 class="modal-header-h4">Nos contactaremos contingo<br/>Hoy mismo</h4>
      <% end %>

      <div id="msgOK">
      </div>

      <div class="modal-footer">
        <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7">
          <%= image_tag("texhablanco100x40.jpg") %>
        </div>
        <div id="divMeAnoto" class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
          <%= f.submit '¡Me Anoto!', :class=>"btn btn-outline-inverse btn-md btn-idx3", :id=>"gc-aceptar" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


