<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Pos titulo</th>
      <th>Pos intro</th>
      <th>Pos conclusion</th>
      <th>Pos imagen tmp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.pos_titulo %></td>
        <td><%= post.pos_intro %></td>
        <td><%= post.pos_conclusion %></td>
        <td><%= post.pos_imagen_tmp %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
